/* style de bouton */
.bouton_form {
    background-color: var(--background-color);
    max-width: 200px;
    color: var(--text-color);
    padding: 15px;
    border: 1px solid;
    border-color: var(--tittle-color);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.bouton_form:hover {
    background-color: var(--tittle-color);
    color: var(--background-color);
    box-shadow: 0 0 5px var(--tittle-color),
        0 0 10px var(--tittle-color);
}

.container_button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}