/* style de bouton */
.bouton_form {
    background-color: #222;
    color: whitesmoke;
    padding: 12px 14px;
    border: 1px;
    border-color: #058428;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;

}

.bouton_form:hover {
    background-color: var(--tittle-color);
    color: #222;
    box-shadow: 0 0 5px #058428,
        0 0 10px #058428;
}