/* Charte graphique du portefolio */
h1 {
    color: green;
    display: flex;
    align-items: center;
}



span {
    color: red;
    font-style: italic;
    font-size: larger;

}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8%;

}

.texte_presentation {
    color: black;
    display: flex;
    justify-content: flex-start;
    margin: 10%;

}