/* Charte graphique du portefolio */
:root {
    --text-color: #e4e4e2;
    --tittle-color: #058428;
    --alt-tittle-color: #ffff33;
    --background-color: #222;
    --text-size: 30px;


}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color)
}

h1,
h2,
h3 {
    color: var(--tittle-color);
    font-family: 'Michroma', sans-serif;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 10px;
}

/*Présentation sur la page d'acceuil*/
.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8%;

}

.texte_presentation {
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 10%;
    font-size: 2rem;

}

/*Formulaire de contact*/
form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Style du fieldset */
.fieldset_form {
    background-color: #111;
    border: 2px solid #058428;
    padding: 30px;
    width: 350px;
    box-shadow: 0 0 10px #058428,
        0 0 20px #058428;
    color: #fff;
}

.fieldset_form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.fieldset_form input,
.fieldset_form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.fieldset_form input:focus,
.fieldset_form textarea:focus {
    box-shadow: 0 0 10px #058428;
    border: 1px solid #058428;
}

/* Texte Page BTS SIO */
.text_bts_sio {
    font-size: var(--text-size);
    max-width: 1000px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.text_sio {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.text_sio_sisr,
.text_sio_slam {

    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    outline: solid 1px var(--tittle-color);

}

.evidence {
    color: var(--tittle-color);
    font-style: normal;
}